<html>
<head><title>Hello from Ansile</title></head>
<body>
<h1>Congratulations!</h1>
<p>Nice job {{ username }}!! You have successfully ran your first playbook! Yuppyyy! Now go to and watch some TV and sleep peacefully
</p>
</body>
</html>

